html,body{
    margin: 0%;
    font-family: Arial, sans-serif;
    padding: 0%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eef4ff;
    padding:30px;
}

.container{
    width:100%;
    max-width:1200px;
    margin:auto;
}

.title{
    width:250px;
    margin:0 auto 40px;
    padding:12px;
    text-align:center;
    font-size:32px;
    font-weight:bold;
    color:#fff;
    background:linear-gradient(#2f86f6,#0a5fc8);
    border-radius:15px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.sitemap{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

/* Small Box */
.card{
    width:180px;              /* Small width */
    min-height:150px;         /* Small height */
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 12px rgba(0,0,0,.18);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    .card h2{
    background:linear-gradient(#2f86f6,#0a5fc8);
}
}

.card ul{
    list-style:none;
    padding:12px;
}

.card ul li{
    font-size:15px;
    padding:6px 0;
    border-left:3px solid #0a5fc8;
    padding-left:10px;
    color:#222;
}

.card ul li:not(:last-child){
    border-bottom:1px solid #ddd;
}

@media(max-width:768px){
    .card{
        width:160px;
    }

    .title{
        width:220px;
        font-size:28px;
    }
}

.assignment{
    align-items: center;
    align-content: center;
    background-size: cover;                    
    background-repeat: no-repeat;
    margin: 0%;                           
    height: 100vh;
    border: 3px #0a0c0c;
    border-collapse: collapse;
}

.h_assignment{
    border: 3px #090700;
    border-radius: 30%;
    align-items: center;
}

table{
    border-collapse: collapse;
    border: 3px white;
}

.Home{
    background:linear-gradient(to right,#dbeafe,#bfdbfe);
}

.pro{
    background-image: url(https://t4.ftcdn.net/jpg/09/27/94/25/360_F_927942540_BwvsR4YD6jftMa83x1cte33wDg7SY6bj.jpg);
}

.banner{
    width:100%;
    height:400px;              
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/014/468/621/small/abstract-digital-technology-background-with-concept-security-vector.jpg");
    background-size:cover;     
    background-position:center;
    background-repeat:no-repeat;
}

h1 {
    margin: 0 auto 18px auto;
}

.Logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #090700;
    margin-left: 5%;
    /* margin-top: 200px; */
    /* display: flex; */
    align-items: center;
    /* margin-top: 170px; */
}

.main{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    padding:20px;
    white-space: initial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.main{
    display: flex;
    gap: 10px;
}

.Link{
    flex: 1;
    width:20%;
    height: 1%;
}

.Link a{
    display:block;
    margin:10px 0;
    font-size:15px;
}

.paragraph{
    width:85%;
    height: 100%;
    border: 3px solid rgb(0, 0, 8);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(252, 252, 252);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background:#ffffff;
    box-shadow:0 8px 20px rgba(0,0,0,.15);

}

.student_hub{
    border-radius: 40px;
    align-items:end;
    text-align: center;
    border: 3px solid rgb(0, 0, 8);
    width:  85%;
    background-size: cover;
    justify-content: space-between;
    display: flex;
    margin-left: 15%;
    margin-top: 0%;
    background:#ffffff;
    box-shadow:0 7px 25px rgba(0,0,0,.15);
}

footer{
    color:white;
    font-size:18px;
    margin:10px;
}

.i{
   position: relative;
   top: 80px; 
}

.Logo:hover{
    transform: scale(1.1);
}

a{
    color: black;          
    text-decoration:solid; 
    align-items: center;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}

button{
    height: 35px;
    width: 160px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 10px;
    border: 2px black;
    shape-outside:-moz-element();
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background:white;
    border: 2px  solid black;
    padding: 0px;
    border-radius: 8px;
    justify-content: flex;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
    text-decoration-color: black;
    text-align:center;
    box-shadow:0px 4px 10px rgba(0,0,0,0.25);
}

.table_course{
    margin-top: 100px;
}

button:hover{
    transform: scale(1.05);
    text-align-last: center;
    background:#2563EB;
}

button:hover a{
    color:white;
}


.login_heading{
    text-align: center;
    border-radius:0%;
    shape-outside: margin-box;
    border: 3px  #090700;
    background-color: #33d1d6;
    border-color: #0a0c0c;
    border-radius: 5%; 
}

.maini{
    width:480px;
    background:white;
    border:2px solid black;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    overflow:hidden;
    margin-left:120px;
}

.but{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    margin: 10px;
    /* background: #0dbbc8; */
    transform: scale(1.05);
    text-align-last: center;
}

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Background */
.banner{
    width:100%;
    min-height:100vh;
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/014/468/621/small/abstract-digital-technology-background-with-concept-security-vector.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    align-items:center;
    justify-content:flex-start;
}

/* Login Box */
.maini{
    width:500px;
    background:#ffffff;
    border:2px solid black;
    border-radius:20px;
    overflow:hidden;
    margin-left:120px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.login_heading{
    background:#355291;
    color:white;
    padding:15px;
    text-align:center;
}

.login_heading h2{
    color:#F8FAFC;
}

form{
    padding:35px;
    text-align:center;
}

label{
    font-size:18px;
    font-weight:bold;
}

input{
    width:230px;
    height:38px;
    margin-top:8px;
    border:1px solid #999;
    border-radius:5px;
    padding:8px;
    font-size:16px;
    outline:none;
    transition:0.3s;
}

input:focus{
    border-color:#2563EB;
    box-shadow:0 0 5px rgba(37,99,235,.4);
}

.but{
    margin-top:20px;
}

@media (max-width:768px){

    .banner{
        justify-content:center;
        padding:20px;
    }

    .maini{
        width:90%;
        margin-left:0;
    }

    .login_heading h2{
        font-size:28px;
    }

    input{
        width:90%;
    }

    button{
        width:90%;
    }
}

